@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    margin: 40px;
    transition: 0.5s;
}

.box:hover {
    height: 400px;

}

.box .imgbx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgbx img {
    width: 100%;
    opacity: 0.1;
    transition: 0.5s;
    height: 100%;
}

.box:hover .imgbx img {
    opacity: 1;
}

.box::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.box::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box::before,
.box::after 
{
    background: linear-gradient(235deg,#e6390e,#010615,#090de6);
    
}

.box:nth-child(2)::before,
.box:nth-child(2)::after 
{
    background: linear-gradient(235deg,#5ce40e,#010615,#cf630a);
}

.box:nth-child(3)::before,
.box:nth-child(3)::after 
{
    background: linear-gradient(235deg,#5814cc,#010615,#e760a4);
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content {
    opacity: 1;
}

.box .content h2 {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.box .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}
